﻿        <div class="content-wrapper">
            <section class="content-header">
                <div class="login-logo">
                    <span style="color: #000;"><b>Admin</b> Registration</span>
                </div>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
                    <li>Patient Lookup</li>
                </ol>
            </section>
            <section class="content">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">Admin Registration</div>
                                    <div class="panel-body">
                                        <label for="seldate">Name</label>
                                        <input type="text" class="form-control">
                                        <label for="sel1">Phone Number</label>
                                        <input type="text" class="form-control">
                                        <label for="seldate">Email Address</label>
                                        <input type="text" class="form-control">
                                        <label for="sel1">Password</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="alert alert-danger">
                                    <p></p><h3>Physician: Madhavan </h3><p></p><hr>
                                    <h5>Email : physician@inetframe.com</h5><hr>
                                    <h5>Phone Number : 9902030505</h5>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer" style="text-align:right;">
                            <a class="btn btn-success" href="TestConfirmation.html">Submit</a>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>